USE [master]
GO
/****** Object:  Database [Heros_GYM]    Script Date: 1/15/2024 10:03:41 PM ******/
CREATE DATABASE [Heros_GYM]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Heros_GYM', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Heros_GYM.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Heros_GYM_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Heros_GYM_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Heros_GYM].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Heros_GYM]
GO
/****** Object:  Table [dbo].[Coach_Addresses]    Script Date: 1/15/2024 10:03:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Coach_Addresses](
	[Id] [int] NOT NULL,
	[Address] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Coach_Addresses] PRIMARY KEY CLUSTERED 
(
	[Id] ASC,
	[Address] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Coach_Phones]    Script Date: 1/15/2024 10:03:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Coach_Phones](
	[Id] [int] NOT NULL,
	[Phone] [int] NOT NULL,
 CONSTRAINT [PK_Coach_Phones] PRIMARY KEY CLUSTERED 
(
	[Id] ASC,
	[Phone] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Coaches]    Script Date: 1/15/2024 10:03:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Coaches](
	[Id] [int] NOT NULL,
	[Name] [varchar](50) NULL,
	[Email] [varchar](max) NULL,
	[Program_Id] [int] NULL,
	[User_Id] [int] NULL,
	[IsDeleted] [char](1) NULL,
 CONSTRAINT [PK_Coaches] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Member_Phones]    Script Date: 1/15/2024 10:03:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Member_Phones](
	[Id] [int] NOT NULL,
	[Phone] [int] NOT NULL,
 CONSTRAINT [PK_Member_Phones] PRIMARY KEY CLUSTERED 
(
	[Id] ASC,
	[Phone] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Member_Programs]    Script Date: 1/15/2024 10:03:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Member_Programs](
	[Member_Id] [int] NOT NULL,
	[Program_Id] [int] NOT NULL,
	[EndDate] [date] NULL,
	[StartDate] [date] NOT NULL,
 CONSTRAINT [PK_Member_Programs] PRIMARY KEY CLUSTERED 
(
	[Member_Id] ASC,
	[Program_Id] ASC,
	[StartDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Members]    Script Date: 1/15/2024 10:03:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Members](
	[Id] [int] NOT NULL,
	[Name] [varchar](50) NULL,
	[Email] [varchar](max) NULL,
	[Age] [int] NULL,
	[Gender] [char](1) NULL,
	[User_Id] [int] NULL,
	[Membership_Id] [int] NULL,
	[IsDeleted] [char](1) NULL,
 CONSTRAINT [PK_Members] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Memberships]    Script Date: 1/15/2024 10:03:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Memberships](
	[Id] [int] NOT NULL,
	[Name] [varchar](50) NULL,
	[Amount] [decimal](18, 1) NULL,
	[Period] [int] NULL,
	[User_Id] [int] NULL,
	[IsDeleted] [char](1) NULL,
 CONSTRAINT [PK_Memberships] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payments]    Script Date: 1/15/2024 10:03:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payments](
	[Id] [int] NOT NULL,
	[Amount] [decimal](18, 1) NULL,
	[Date] [date] NULL,
	[Time] [time](0) NULL,
	[User_Id] [int] NULL,
	[Member_Id] [int] NULL,
	[IsDeleted] [char](1) NULL,
 CONSTRAINT [PK_Payments] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Programs]    Script Date: 1/15/2024 10:03:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Programs](
	[Id] [int] NOT NULL,
	[Name] [varchar](50) NULL,
	[Description] [varchar](max) NULL,
 CONSTRAINT [PK_Programs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User_Addresses]    Script Date: 1/15/2024 10:03:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User_Addresses](
	[Id] [int] NOT NULL,
	[Address] [varchar](50) NOT NULL,
 CONSTRAINT [PK_User_Addresses] PRIMARY KEY CLUSTERED 
(
	[Id] ASC,
	[Address] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User_Phones]    Script Date: 1/15/2024 10:03:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User_Phones](
	[Id] [int] NOT NULL,
	[Phone] [int] NOT NULL,
 CONSTRAINT [PK_User_Phones] PRIMARY KEY CLUSTERED 
(
	[Id] ASC,
	[Phone] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 1/15/2024 10:03:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NULL,
	[Password] [varchar](50) NULL,
	[IsDeleted] [char](1) NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Coach_Addresses]  WITH CHECK ADD  CONSTRAINT [FK_Coach_Addresses_Coaches] FOREIGN KEY([Id])
REFERENCES [dbo].[Coaches] ([Id])
GO
ALTER TABLE [dbo].[Coach_Addresses] CHECK CONSTRAINT [FK_Coach_Addresses_Coaches]
GO
ALTER TABLE [dbo].[Coach_Phones]  WITH CHECK ADD  CONSTRAINT [FK_Coach_Phones_Coaches] FOREIGN KEY([Id])
REFERENCES [dbo].[Coaches] ([Id])
GO
ALTER TABLE [dbo].[Coach_Phones] CHECK CONSTRAINT [FK_Coach_Phones_Coaches]
GO
ALTER TABLE [dbo].[Coaches]  WITH CHECK ADD  CONSTRAINT [FK_Coaches_Programs] FOREIGN KEY([Program_Id])
REFERENCES [dbo].[Programs] ([Id])
GO
ALTER TABLE [dbo].[Coaches] CHECK CONSTRAINT [FK_Coaches_Programs]
GO
ALTER TABLE [dbo].[Coaches]  WITH CHECK ADD  CONSTRAINT [FK_Coaches_Users] FOREIGN KEY([User_Id])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Coaches] CHECK CONSTRAINT [FK_Coaches_Users]
GO
ALTER TABLE [dbo].[Member_Phones]  WITH CHECK ADD  CONSTRAINT [FK_Member_Phones_Members] FOREIGN KEY([Id])
REFERENCES [dbo].[Members] ([Id])
GO
ALTER TABLE [dbo].[Member_Phones] CHECK CONSTRAINT [FK_Member_Phones_Members]
GO
ALTER TABLE [dbo].[Member_Programs]  WITH CHECK ADD  CONSTRAINT [FK_Member_Programs_Members] FOREIGN KEY([Member_Id])
REFERENCES [dbo].[Members] ([Id])
GO
ALTER TABLE [dbo].[Member_Programs] CHECK CONSTRAINT [FK_Member_Programs_Members]
GO
ALTER TABLE [dbo].[Member_Programs]  WITH CHECK ADD  CONSTRAINT [FK_Member_Programs_Programs] FOREIGN KEY([Program_Id])
REFERENCES [dbo].[Programs] ([Id])
GO
ALTER TABLE [dbo].[Member_Programs] CHECK CONSTRAINT [FK_Member_Programs_Programs]
GO
ALTER TABLE [dbo].[Members]  WITH CHECK ADD  CONSTRAINT [FK_Members_Memberships] FOREIGN KEY([Membership_Id])
REFERENCES [dbo].[Memberships] ([Id])
GO
ALTER TABLE [dbo].[Members] CHECK CONSTRAINT [FK_Members_Memberships]
GO
ALTER TABLE [dbo].[Members]  WITH CHECK ADD  CONSTRAINT [FK_Members_Users] FOREIGN KEY([User_Id])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Members] CHECK CONSTRAINT [FK_Members_Users]
GO
ALTER TABLE [dbo].[Memberships]  WITH CHECK ADD  CONSTRAINT [FK_Memberships_Users] FOREIGN KEY([User_Id])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Memberships] CHECK CONSTRAINT [FK_Memberships_Users]
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD  CONSTRAINT [FK_Payments_Members] FOREIGN KEY([Member_Id])
REFERENCES [dbo].[Members] ([Id])
GO
ALTER TABLE [dbo].[Payments] CHECK CONSTRAINT [FK_Payments_Members]
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD  CONSTRAINT [FK_Payments_Users] FOREIGN KEY([User_Id])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Payments] CHECK CONSTRAINT [FK_Payments_Users]
GO
ALTER TABLE [dbo].[User_Addresses]  WITH CHECK ADD  CONSTRAINT [FK_User_Addresses_Users] FOREIGN KEY([Id])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[User_Addresses] CHECK CONSTRAINT [FK_User_Addresses_Users]
GO
ALTER TABLE [dbo].[User_Phones]  WITH CHECK ADD  CONSTRAINT [FK_User_Phones_Users] FOREIGN KEY([Id])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[User_Phones] CHECK CONSTRAINT [FK_User_Phones_Users]
GO
USE [master]
GO
